{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>Voici nos séries disponibles :  </h1>
{% for program in programs %}

<div class="row">
    
    <div class="col card">
        <div class="card-header text-center"><h4>{{program.title}}</h4></div>
        <div class="card-body"><span class="small">Catégorie {{ program.category.name }}</span>
        <hr class="hr">
        synopsis : {{program.synopsis }}</div>
        <div class="card-footer">
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    </div>
   
</div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}