{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}

<div class="media">

        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">

        <div class="media-body">

            <h1> {{ program.title }} </h1>
            <p>{{ program.synopsis }}</p>

            <p>Catégorie : {{ program.category.name }}</p>

            <h4>Saison {{season.number}} </h4>
            
            {% if not season.episodes is empty %}
            <p> Liste des épisodes : </p>
                <ul>
                {% for episode in season.episodes %}
                
                    <li>{{episode.number}}. {{episode.title}}</a></li>
                    <li><a href="{{ path('program_episode_show', { program: program.id, season: season.id, episode: episode.id }) }}">Episode {{episode.number}}</a></li>


                {% endfor %}
                </ul>
            {% else %}
            <p>Aucun épisode !</p>
            {% endif %}

        </div>

    </div>
     <li><a href=" {{ path("program_show", { id: program.id }) }}">Retour à la liste des saisons </a></li>
    
    </a>

{% endblock %}